# Node modules
**/node_modules/

# Build outputs
*.log
dist/
build/

# Environment files
.env

# System files
.DS_Store
Thumbs.db
*.swp

# Mac and Windows system folders
$RECYCLE.BIN/
*.Trash-*/

# React Native / Expo
.expo/
.expo-shared/

# VSCode settings
.vscode/
